@charset "UTF-8";
body {
  font-family: Poppins;
  font-size: 16px;
}

section.services .slider .slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

section.testimonies, .choose-us, .case-study {
  padding: 120px 0;
}

.h4Adress {
  color: #00BDAA;
  font-weight: bold;
  font-size: 16px;
}

.h1Address {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
}

.pSubParagraph {
  color: #999;
  width: 65%;
}

div.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 100;
}
div.loading .center {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.loading .center span {
  color: #F1648F;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
div.loading .center h1 {
  color: #00BDAA;
}

header .top {
  padding: 10px 0;
}
header .top .social i {
  color: #00BDAA;
  margin-right: 5px;
  font-size: 13px;
  font-weight: 300 !important;
}
header .top .request a {
  font-size: 13px;
  text-decoration: underline;
  opacity: 0.6;
}
header .center {
  padding: 30px 0;
  background-color: #fff;
}
header .center .center-head {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 38px;
}
header .center .center-head:hover {
  text-decoration: none;
}
header .center .center-head span {
  font-size: 13px;
  opacity: 0.5;
  margin-top: -13px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header .center .center-head {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  header .center .center-head {
    margin-bottom: 20px;
  }
}
header .center .email i {
  color: #00BDAA;
  margin-right: 10px;
  font-size: 19px;
}
header .center .email span.d-block {
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  header .center .email {
    font-size: 15px;
  }
}
header .center .call i {
  color: #00BDAA;
  margin-right: 10px;
  font-size: 19px;
}
header .center .call span.d-block {
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  header .center .call {
    font-size: 15px;
  }
}
header .center .working-hours i {
  color: #00BDAA;
  margin-right: 10px;
  font-size: 19px;
}
header .center .working-hours span.d-block {
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  header .center .working-hours {
    font-size: 15px;
  }
}
header .bottom {
  background-color: #00BDAA;
}
header .bottom .navbar {
  padding: 0 1rem !important;
}
header .bottom .navbar button {
  border-color: rgba(255, 255, 255, 0.5);
}
header .bottom .navbar button span i {
  color: #fff;
}
header .bottom .navbar .active {
  background-color: #F1648F;
}
@media screen and (max-width: 992px) {
  header .bottom .navbar .active {
    background-color: transparent;
    opacity: 1;
  }
}
@media screen and (max-width: 992px) {
  header .bottom .navbar {
    padding: 10px 0 !important;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 992px) {
  header .bottom .navbar .navbar-collapse {
    position: absolute;
    z-index: 1000;
    top: 4.2rem;
    background-color: #00bdaa;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  header .bottom .navbar .navbar-collapse li {
    line-height: 0 !important;
    margin-bottom: 4px;
  }
}
header .bottom .navbar a {
  font-size: 1rem !important;
  color: #fff !important;
  padding: 18px 14px !important;
}
@media screen and (max-width: 992px) {
  header .bottom .navbar a {
    opacity: 0.7;
    font-size: 0.99rem !important;
  }
}
header .bottom .navbar form {
  position: relative;
}
header .bottom .navbar form i {
  position: absolute;
  top: 15px;
  left: 233px;
  color: #aaa !important;
  font-size: 20px;
  cursor: pointer;
}
header .bottom .navbar form input {
  height: 49px;
  border-radius: 20px;
  width: 270px;
  outline: 0 !important;
  border-color: transparent !important;
}
header .bottom .navbar form input:focus, header .bottom .navbar form input:active {
  box-shadow: none;
  border-color: transparent !important;
  outline: 0 !important;
}
@media screen and (max-width: 992px) {
  header .bottom .navbar form {
    align-self: start;
  }
}

section.services {
  position: relative;
  height: 700px;
}
section.services .slider {
  height: inherit;
}
section.services .slider .active {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
  z-index: 20 !important;
}
section.services .slider .slider-item {
  height: inherit;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  z-index: 5;
  color: #fff;
}
section.services .slider .slider-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 25;
}
section.services .slider .slider-item .container {
  position: relative;
  z-index: 30;
  height: inherit;
}
section.services .slider .slider-item .container .row {
  height: inherit;
}
section.services .slider .slider-item .container .row .content {
  width: 50%;
  margin-right: 85px;
  margin-top: -78px;
}
@media screen and (max-width: 768px) {
  section.services .slider .slider-item .container .row .content {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}
section.services .slider .slider-item .container .row .content span {
  font-weight: bold;
  letter-spacing: 1px;
}
section.services .slider .slider-item .container .row .content h1 {
  font-size: 68px;
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  section.services .slider .slider-item .container .row .content h1 {
    font-size: 40px;
  }
}
section.services .slider .slider-item .container .row .content button {
  background-color: #00BDAA;
  border-radius: 27px;
  padding: 15px 25px;
  color: #fff;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
section.services .slider .slider-item .container .row .content button:hover {
  background-color: transparent;
  border: 1px solid #00BDAA;
  color: #00BDAA;
}
section.services .slider .slider-item:first-child {
  background: url("../images/bg/bg_1.jpg") no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  section.services .slider .slider-item:first-child {
    background-position: center center;
  }
}
section.services .slider .slider-item:nth-child(2) {
  background: url("../images/bg/bg_2.jpg") no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  section.services .slider .slider-item:nth-child(2) {
    background-position: center center;
  }
}
section.services .slider .dots {
  position: absolute;
  top: 550px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 50;
}
section.services .slider .dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 4px;
  cursor: pointer;
}
section.services .slider .dots .active {
  background-color: #00BDAA !important;
}

section.consulting {
  position: relative;
  z-index: 20;
  margin-top: -55px;
}
@media screen and (max-width: 768px) {
  section.consulting {
    margin-top: 0;
  }
}
section.consulting .free {
  background-color: #00BDAA;
  padding: 70px 15px;
}
section.consulting .free form input:not([type=submit]) {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
  margin-bottom: 25px;
  color: #fff;
}
section.consulting .free form input:not([type=submit])::-webkit-input-placeholder {
  color: #fff;
}
section.consulting .free form input:not([type=submit]):-ms-input-placeholder {
  color: #fff;
}
section.consulting .free form input:not([type=submit])::-ms-input-placeholder {
  color: #fff;
}
section.consulting .free form input:not([type=submit])::-moz-placeholder {
  color: #fff;
}
section.consulting .free form input:not([type=submit])::placeholder {
  color: #fff;
}
section.consulting .free form input:not([type=submit]):active, section.consulting .free form input:not([type=submit]):focus {
  box-shadow: none !important;
}
section.consulting .free form .select-option {
  position: relative;
}
section.consulting .free form .select-option:after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  display: inline-block;
  top: 18px;
  right: 13px;
}
section.consulting .free form .select-option select {
  background-color: transparent;
  color: #fff;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 25px;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
}
section.consulting .free form .select-option select:active, section.consulting .free form .select-option select:focus {
  box-shadow: none !important;
}
section.consulting .free form button {
  background-color: #F1648F;
  color: #fff;
  padding: 14px 0;
  border-radius: 8px;
}
section.consulting .agency {
  padding: 70px 30px;
  background-color: #fff;
}
section.consulting .agency h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 67px;
}
section.consulting .agency .first {
  margin-bottom: 29px;
}
@media screen and (max-width: 768px) {
  section.consulting .agency .first {
    margin-bottom: 0;
  }
}
section.consulting .agency .category {
  position: relative;
}
section.consulting .agency .category i {
  position: absolute;
  color: #00BDAA;
  top: -35px;
}
section.consulting .agency .category h4 {
  font-weight: bold;
  font-size: 23px;
}
section.consulting .agency .category p {
  color: #939191;
  font-size: 17px;
  line-height: 1.7;
}
@media screen and (max-width: 768px) {
  section.consulting .agency .category {
    margin-bottom: 80px;
  }
}
section.consulting .shade {
  box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1);
}

section.guide {
  position: relative;
  height: 161px;
  background: url(../images/bg/bg_3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
section.guide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(10, 189, 227, 0.8)), to(rgba(26, 188, 156, 0.8)));
  background-image: linear-gradient(to right, rgba(10, 189, 227, 0.8), rgba(26, 188, 156, 0.8));
  z-index: 5;
}
section.guide h1 {
  position: relative;
  z-index: 10;
  color: #fff;
}
section.guide a {
  z-index: 10;
}

section.company .clients {
  background: url("../images/company/about.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
}
section.company .missions {
  padding: 50px 15px;
}
section.company .missions p {
  width: 100% !important;
}
section.company .missions ul.nav li a {
  color: #000;
  font-weight: bold;
  padding: 0.75rem 1.4rem;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}
section.company .missions ul.nav li a i {
  color: #00BDAA;
}
@media screen and (max-width: 1200px) {
  section.company .missions ul.nav li a {
    text-align: center;
    font-size: 15px;
  }
}
section.company .missions ul.nav li .active {
  background-color: #00BDAA !important;
  color: #fff;
}
section.company .missions ul.nav li .active i {
  color: #fff !important;
}
section.company .missions .tab-content {
  background-color: #FAFAFA;
}
section.company .missions .statistics {
  padding: 30px 0;
}
section.company .missions .statistics h1 {
  color: #00BDAA;
  font-size: 44px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .case-study .title p {
    width: 100%;
  }
}
.case-study .sol .card {
  border: none !important;
  margin-bottom: 10px;
  width: 100% !important;
  border-radius: 0 !important;
  padding: 0 10px;
}
.case-study .sol .card img {
  border-radius: 0.2rem;
  margin-bottom: 10px;
}
.case-study .sol .card .card-body {
  padding: 1rem 0;
  position: relative;
}
.case-study .sol .card .card-body:before {
  content: attr(data-title);
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
  background-color: #00BDAA;
  color: #fff;
  border-radius: 10px;
  z-index: 10;
  padding: 2px 7px;
  text-transform: capitalize;
}
.case-study .sol .card .card-body h5 {
  font-size: 21px !important;
}
.case-study .sol .card .card-body p {
  color: #999;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .choose-us .no-padding {
    padding: 0 !important;
  }
}
.choose-us .sec li {
  padding: 20px 25px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.choose-us .sec li i {
  position: relative;
}
.choose-us .sec li i:before {
  font-size: 28px;
  color: #00BDAA;
  position: absolute;
  top: -7px;
  left: -19px;
  opacity: 0.6;
}
.choose-us .sec li span {
  margin-left: 45px;
}
@media screen and (max-width: 768px) {
  .choose-us .sec li {
    text-align: center;
  }
}
.choose-us .sec .active {
  color: #fff;
  background-color: #00BDAA;
}
.choose-us .sec .active i:before {
  color: #fff;
  opacity: 1;
}
.choose-us .features {
  position: relative;
}
@media screen and (max-width: 768px) {
  .choose-us .features {
    min-height: 500px;
  }
}
.choose-us .features .feature {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s linear;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .choose-us .features .feature {
    padding: 0 15px;
  }
}
.choose-us .features .feature .image {
  height: 73%;
  margin-bottom: 20px;
  border-radius: 10px;
}
.choose-us .features .feature h4 {
  margin-bottom: 20px;
  font-weight: bold;
}
.choose-us .features .feature p {
  margin: 0;
}
.choose-us .features .feature:nth-of-type(1) .image {
  background: url(../images/case-study/project-1.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.choose-us .features .feature:nth-of-type(2) .image {
  background: url(../images/case-study/project-2.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.choose-us .features .feature:nth-of-type(3) .image {
  background: url(../images/case-study/project-3.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.choose-us .features .feature:nth-of-type(4) .image {
  background: url(../images/case-study/project-4.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.choose-us .features .feature:nth-of-type(5) .image {
  background: url(../images/case-study/project-5.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.choose-us .features .feature:nth-of-type(6) .image {
  background: url(../images/case-study/project-6.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.choose-us .features .show {
  visibility: visible;
  opacity: 1;
  z-index: 20;
}

section.guide-2 {
  position: relative;
  height: 161px;
  background: url(../images/bg/bg_1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  section.guide-2 {
    min-height: 250px;
  }
}
section.guide-2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(10, 189, 227, 0.8)), to(rgba(26, 188, 156, 0.8)));
  background-image: linear-gradient(to right, rgba(10, 189, 227, 0.8), rgba(26, 188, 156, 0.8));
  z-index: 5;
}
section.guide-2 h2 {
  position: relative;
  z-index: 10;
  color: #fff;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  section.guide-2 h2 {
    font-size: 29px;
    margin-bottom: 16px;
  }
}
section.guide-2 a {
  position: relative;
  z-index: 10;
  cursor: pointer;
  color: #fff;
  background-color: #F1648F;
  border-radius: 29px;
  width: 100%;
  padding: 15px 1px;
}
section.guide-2 a:hover {
  color: #fff;
}

section.testimonies {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
section.testimonies .owl-carousel {
  margin-top: 30px;
}
section.testimonies .owl-carousel > div.owl-stage-outer {
  padding: 20px 0;
}
section.testimonies .owl-carousel button.active span {
  background: #00BDAA !important;
}
section.testimonies .owl-carousel .item {
  position: relative;
  padding: 15px;
  background-color: #FAFAFA;
}
section.testimonies .owl-carousel .item:before {
  content: "";
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  position: absolute;
  top: -32px;
  left: 147px;
  color: #00BDAA;
  font-size: 39px;
}
section.testimonies .owl-carousel .item .portrait {
  flex-basis: 30%;
  position: relative;
}
section.testimonies .owl-carousel .item .portrait img {
  border-radius: 50%;
  width: 70%;
  position: absolute;
  top: 2px;
  left: 20px;
}
section.testimonies .owl-carousel .item .content {
  flex-basis: 70%;
}
section.testimonies .owl-carousel .item .content p {
  color: #999;
}
section.testimonies .owl-carousel .item .content h5 {
  font-weight: normal;
}
section.testimonies .owl-carousel .item .content span {
  color: #00BDAA;
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
